/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-abr-2015, 22:01:29
    Author     : Administrador
*/
.ui-menubar{
    background: #A80000 !important; 
    height: 30px
}

.top .ui-layout-unit-content{
   background: #103B80;
}

.top{
    background-color: #103B80;
    border: none;
    border-radius: 0px;
}

.topPg{
    width: 100%;
    border: none;
}

.topOl{
    border: none;
    color: #E6ECF9;
}

.botton .ui-layout-unit-content{
   background: #102554;
}

.botton{
    background-color: #102554;
    border: none;
    border-radius: 0px;
}

.bottonPg{
    width: 100%;
    border: none;
}

.bottonOl{
    border: none;
    color: #848484;
}

.ui-menubar,.ui-menu-child,.ui-menu{
    background: #BDBDBD !important;
}
